<div id="<%= dom_id kitten %>">
  <div>
    <strong>Name:</strong>
    <%= kitten.name %>
  </div>

  <div>
    <strong>Age:</strong>
    <%= kitten.age %>
  </div>

  <div>
    <strong>Cuteness:</strong>
    <%= kitten.cuteness %>
  </div>

  <div>
    <strong>Softness:</strong>
    <%= kitten.softness %>
  </div>

</div>
